<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bubbleBlasterBubble</key>
	<string>bubbleblaster_bubble-120x120.png</string>
	<key>findDifferencesProceedButtonUnpressed</key>
	<string>GameElementsNew/Hidden-Fault-Proceed-360x100.png</string>
	<key>findDifferencesProceedButtonPressed</key>
	<string>GameElementsNew/Hidden-Fault-Proceed-360x100.png</string>
	<key>pathfinderCursor</key>
	<string>GameElementsNew/Pathfinder-Cursor-100x100.png</string>
	<key>pathfinderCircle</key>
	<string>GameElementsNew/Pathfinder-Path-55x55.png</string>
	<key>pathfinderFinish</key>
	<string>finish-line 80x20.png</string>
	<key>communityAnswerButtonPressed</key>
	<string>CQ-Portrait-Button.png</string>
	<key>communityAnswerButtonUnPressed</key>
	<string>CQ-Portrait-Button.png</string>
	<key>gameAnswerButtonPressed</key>
	<string>GameElementsNew/Answer-Button-550x110.png</string>
	<key>gameAnswerButtonUnPressed</key>
	<string>GameElementsNew/Answer-Button-550x110.png</string>
	<key>findDifferencesMarker</key>
	<string>Hidden-Fault-Handle-100x100.png</string>
	<key>evaluationImageFaulty</key>
	<string>GameElementsNew/Game-Evaluation-negative-580x220.png</string>
	<key>evaluationImageCorrect</key>
	<string>GameElementsNew/Game-Evaluation-positive-580x220.png</string>
	<key>introPlayButtonPressed</key>
	<string>Button-portrait-546x127</string>
	<key>introPlayButtonUnPressed</key>
	<string>Button-portrait-546x127</string>
	<key>introPlayButtonUnPressedLandscape</key>
	<string>GameElementsNew/Button landscape-746x127.png</string>
	<key>introPlayButtonPressedLandscape</key>
	<string>GameElementsNew/Button landscape-746x127.png</string>
	<key>cancelButtonEndcard</key>
	<string>GameElementsNew/Skip-Button_Endcard-44x44.png</string>
	<key>cancelButtonIntroGames</key>
	<string>GameElementsNew/introscreen_button_skip.png</string>
	<key>counterBackground</key>
	<string>GameElementsNew/Timeline-vertical-40x632.png</string>
	<key>rotateIcon</key>
	<string>white/Rotate-icon-toportrait-109x109.png</string>
	<key>videoOverlayButton</key>
	<string>VideoOverlay/Download-Button-301x70.png</string>
	<key>videoOverlaySkipButton</key>
	<string>VideoOverlay/Skip-Button-44x44.png</string>
	<key>videoOverlayTimerBar</key>
	<string>VideoOverlay/Timer-Balken-1100x6.png</string>
	<key>videoOverlayTimerDot</key>
	<string>VideoOverlay/Timer-Kugel-40x40.png</string>
	<key>wagawinLogo</key>
	<string>Wagawin-Logo.png</string>
	<key>wagawinLogoLight</key>
	<string>Wagawin-Logo-light.png</string>
	<key>enableLightLogo</key>
	<false/>
	<key>endcardButton</key>
	<string>Endcard-Button-Download-394x128.png</string>
	<key>interstitialSkipButtonBorder</key>
	<string>GameElementsNew/Interstitial/skip-button-animation-80x80-blueborder.png</string>
	<key>interstitialSkipButtonBackground</key>
	<string>GameElementsNew/Interstitial/skip-button-animation-80x80-background</string>
	<key>interstitialSkipButton</key>
	<string>GameElementsNew/Interstitial/skip-button-80x80.png</string>
	<key>interstitialDownloadButton</key>
	<string>GameElementsNew/Interstitial/Download-Button-max-546x127.png</string>
	<key>interstitialAnimationHand</key>
	<string>GameElementsNew/Interstitial/introscreen_animation_hand.png</string>
	<key>tintColorAnimations</key>
	<string></string>
	<key>timebarColor</key>
	<string></string>
	<key>endcardFooterColor</key>
	<string></string>
	<key>backgroundPortrait</key>
	<string></string>
	<key>backgroundLandscape</key>
	<string></string>
	<key>textColor</key>
	<string></string>
	<key>enableTextShadow</key>
	<false/>
</dict>
</plist>
